.page_root{
    height: 100vh;
    
    .page_body{
        //overflow-y: auto;
        //height: 89%;
        width: 100%;
        padding: 15px 40px;
        position: relative;
        // .flex_box_vertical_center{
        //     width: 100%;
        //     height: 100%;
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: start;
        //     align-items: center;
        // }
        .opsArea{
            
        }
        .imgsArea{
            box-sizing: border-box;
            height: 100%;
            margin-top: 15px;
        }
    }
    
}